


.container {

    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section {
    width: 70%;
    text-align: center;
    margin-top: 50px;
    border: 2px solid #0569b1; /* 添加黑色边框线条 */
    border-radius: 10px;
    font-family: 黑体;
}

#search-input {
    width: 100%;
    padding: 10px;
    border: none;
}

#search-button, #reset-button {
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button {
    background-color: #4CAF50; /* 绿色 */
    color: #fff;
}

#reset-button {
    background-color: #3498db; /* 蓝色 */
    color: #fff;
}

#search-button:hover, #reset-button:hover {
    opacity: 0.8;
}

.file-list {
    flex-grow: 1; /* 让文件列表框占满整个container */
    display: flex;
    flex-direction: column;
    margin: 20px 0; /* 去掉左右边距 */
    width: 70%;
    text-align: center;
}

.file-row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
    text-align: center;
}

.file-row:hover {
    background-color: #f0f0f0;
}

.file-name {
    flex-basis: 60%; /* 占整个列表的40% */
    
}

 .file-type, .file-source {
    flex-basis: 15%; /* 各占20% */
    display: flex;
    align-items: center;
}

.file-download{
    flex-basis: 10%; /* 各占20% */
    display: flex;
    align-items: center;
}

.file-name, .file-type, .file-source {
    border-right: 1px solid #ddd;
    padding-right: 10px;
    margin-right: 10px;

}

.file-download img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.file-download img:hover {
    transform: scale(1.1);
}

#no-result {
    color: red;
    font-size: 30px;
    font-family: 黑体;
    text-align: center;
    display: none;
}

.hidden {
    display: none;
}
