



/* 网站加载页面的样式 */
.loading-page {  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: url("img/lging-bg.jpg");  
    background-size: cover;  /* 背景图片铺满整个屏幕 */  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    z-index: 1000;  
}
        .loading-text {
            margin-top: 20px;
            font-size: 25px;
            color: #ffffff;
        }


        .p-tag {  
            display: none;  
            margin-top: 20px;
            font-size: 40px;
            color: #ffffff;
            font-family: 华文中宋;
        }  
  
        .active {  
            display: block; 
            margin-top: 20px;
            font-size: 40px;
            color: #ffffff;
            font-family: 华文中宋;
        } 
/* ============================= */

/* 基本样式 */

/* 在一个容器元素上设置背景 */



html{
    scroll-behavior: smooth;
    filter: grayscale(0);
    padding: 0;
    margin: 0;
}
body{
    cursor: url('img/鼠标.png'), auto;
}

.image-container {
    width: 100%;
    height: 100%; /* 设置图片容器的高度，可以根据实际情况调整 */
    overflow: hidden;
    transition: height 0.5s ease; /* 添加过渡效果，使高度变化平滑 */
  }



.right-nav {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 70px;
    background-color: #cdf7ffad;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.right-nav img{
    width: 70px;
}
.right-nav a{
    text-align: center;
    text-decoration: none;
    color: #1393ad;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 9999;
  }
  
  .declaration-box {
    background: #000000b5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
  }
  
  h2 {
    margin-top: 0;
    font-size: 35px;
    font-family: 华文中宋;
    color:white;
  }
  
  ol {
    text-align:center;
    padding-left: 20px;
    font-size: 20px;
    font-family: 黑体;
    color:white;
  }
  
  button#acknowledge-button {
    background: #d8d8d8;
    color: rgb(0, 0, 0);
    font-family: 黑体;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
  }

/* 添加滚动容器的样式 */
.scrollable-content {
    max-height: 500px; /* 设置最大高度，根据需要调整 */
    overflow-y: auto; /* 添加垂直滚动条 */
    margin-top: 20px; /* 调整间距，根据需要调整 */
    padding-right: 10px; /* 保留滚动条空间 */
  }






/* 导航栏样式 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* 导航栏背景颜色 */
    color: #000000; /* 导航栏文本颜色 */
    padding: 10px 20px;
    background-image: url("img/top bg.png");
}

/* 网站Logo样式 */
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 70px; /* 根据实际需要调整Logo的尺寸 */
    height: 70px;
    margin-right: 10px;
}
.site-title {
    font-size: 24px;
    font-weight: bold;
}

.language-img{
    
    
}




/* 样式化Logo和文字 */
/* 基本样式 */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}

.logo-image {
    max-width: 50%;
    height: auto;
}

@media (max-width: 768px) {
    .logo-image{
        max-width: 80%;
        height: auto;
    }
}



$font: 'Poppins', sans-serif;

::selection { background-color: #C3CFE2; }


.text {
    text-align: center;
    font-size: 3.5rem;
	text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 20vw;
		family: $font;
	};
}

$font: 'Poppins', sans-serif;

::selection { background-color: #C3CFE2; }


.text2 {
    text-align: left;
    font-size: 2.5rem;
	text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 20vw;
		family: $font;
	};
}


.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    padding-bottom: 56.25%; /* 按照16:9的比例设置padding-bottom以保持视频容器宽高比 */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持视频适应容器尺寸而不变形 */
}



/* 基本样式 */
.image-button {
    display: inline-block;
    margin: 0 1%;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}
/* 设置图片大小为250px */
.image-button img {
    width: 250px;
    height: auto; /* 保持宽高比例 */
}

/* 在用户鼠标移入时，图片向下移动一些以实现交互效果 */
.image-button:hover {
    transform: translateY(5px);
}

/* 居中排列 */
.image-container {
    text-align: center;
}

/* 响应式设计，图片大小由用户屏幕大小决定 */
.image-row {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* 在较小屏幕上调整图片的大小 */
@media (max-width: 768px) {
    .image-row {
        display: flex;
        flex-direction: column; /* 将图片按钮竖向排列 */
        align-items: center; /* 水平居中 */
    }
    .image-button {
        flex: none; /* 取消flex属性 */
        margin: 10px 0; /* 增加上下间距 */
    }
}


.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.img-container1 {
    flex-basis: calc(50% - 20px);

}

.text-container-zuo {
    flex-basis: calc(50% - 40px);
    margin-left: 100px;

}
.text-container-you {
    flex-basis: calc(50% - 40px);
    margin-right: 100px;

}

@media (max-width: 600px) {
    .img-container1, .text-container-you,.text-container-zuo {
        flex-basis: 100%;
        font-size: 10px;
        
    }
}



h1 {
    margin-top: 0;
}

.button {
    background-color: rgb(90, 203, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 120px;
    height: 40px;
}
.link {
    color: rgb(0, 63, 85);
    text-decoration: none;
    font-size: 25px;
  }
  
.link:hover {
    color: rgb(0, 138, 213);
    text-decoration: none;
    font-size: 25px;
}
