/* 网站加载页面的样式 */
.loading-page {  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: url("../img/lging-bg.jpg");  
    background-size: cover;  /* 背景图片铺满整个屏幕 */  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    z-index: 1000;  
}
        .loading-text {
            margin-top: 20px;
            font-size: 25px;
            color: #ffffff;
        }


        .p-tag {  
            display: none;  
            margin-top: 20px;
            font-size: 40px;
            color: #ffffff;
            font-family: 华文中宋;
        }  
  
        .active {  
            display: block; 
            margin-top: 20px;
            font-size: 40px;
            color: #ffffff;
            font-family: 华文中宋;
        } 

/* 初始化页面，清除所有元素的内外边距 */
*{
    padding: 0;
    margin: 0;
    width: 1000px;
    /* 设置背景颜色为414141 */
    background-image: url("../img/bj.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
/* 盒子居中 */
div{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(254,219,207,0);
}
/* 使用文字渐变效果，再加一点点文字阴影 */
span,h2,h3,h4{
    text-shadow: 0 0 10px #dfd8d8;
    background: linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: ff 0.9s linear infinite;
}
@keyframes ff{
    to{filter: hue-rotate(360deg);}
}
/* 设置一下字体大小 */
h2{
    font-size: 72px;
    font:normal 80px/160px "华文中宋";
}
h3{
    font-size: 20px;
    font:normal 30px/40px "方正姚体";
}
span{
    font-size: 120px;
    font:normal 100px/200px "华文中宋";
}
img{
    width: 450px;
}


/* 按钮居中 */
button{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px #fff;
    /* 取消轮廓线 */
    outline: none;
    background-color: rgba(4, 234, 255, 0.819);
    color: rgb(255, 255, 255);
    font-size: 25px;
}