body {
    margin: 0;
    padding: 0;
    background-image: url('wallhaven-n6p98w.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .logo {
    width: 600px;
    height: auto;
    margin-bottom: 20px;
  }

  #login-form {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.423);
  }

  #login-form input[type="text"],
  #login-form input[type="password"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  #login-form input[type="submit"] {
    background-color: #09a6df;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
  font-weight: bold;
  color: aliceblue;
  font-size: 25px;
  font-family: "黑体";
}

#login-form input[type="text"],
  #login-form input[type="password"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: white; /* 设置字体颜色为白色 */
  }
#login-form input[type="text"]::placeholder,
#login-form input[type="password"]::placeholder {
  color: rgb(27, 232, 255); /* 设置placeholder字体颜色为白色 */
  font-size: 1.2em;
  font-family: 黑体;
}

  /* 其他样式... */

  @media (max-width: 600px) {
    /* 在屏幕宽度小于600px时的样式调整 */
    body {
      background-size: contain;
    }

    .logo {
      width: 150px;
    }
  }

  .validation-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.valid {
  background-image: url("对.png");
  background-size: cover;
  /* background-color: #8BC34A; */
}

.invalid {
  background-image: url("叉号.png");
  background-size: cover;
  /* background-color: #F44336; */
}